In [50]:
import pandas as pd
from datetime import datetime

In [51]:
data = pd.read_csv("data.csv", delimiter=',')

# data.sort_values('room')
data

       humidity  temperature  room    login                        date
0           121          121   536  Valeriy  2025-05-22 16:35:23.511337
1          1221         1212   537  Valeriy  2025-05-22 16:35:39.819232
2           121          121   536  Valeriy  2025-05-22 16:42:08.180783
3          1221           12   536  Valeriy  2025-05-22 16:44:25.438046
4          1212          121   537  Valeriy  2025-05-22 16:51:07.999757
5           121         1212   536  Valeriy  2025-05-22 16:54:21.759888
6          1212         2323   536  Valeriy  2025-05-23 10:58:40.242710
7           121         2121   536  Valeriy  2025-05-23 11:02:52.022466
8          1212         1212   536  Valeriy  2025-05-23 13:35:19.153621
9          1212          121   536  Valeriy  2025-05-23 13:37:25.604792
10         1212         1212   536  Valeriy  2025-05-23 13:47:13.604201
11         1212          121   537  Valeriy  2025-05-23 13:47:44.936370
12          121         1212   536  Valeriy  2025-05-23 14:18:47.704555
13         1213          121   536  Valeriy  2025-05-23 14:50:07.016829
14          121         1212   537  Valeriy  2025-05-23 14:50:55.573201
15      1212121         1212   538  Valeriy  2025-05-23 14:51:04.572001
16         1212         1212   536  Valeriy  2025-05-29 14:38:50.521701
17         1212         1212   537  Valeriy  2025-05-29 14:45:27.322080
18         1212         1212   538  Valeriy  2025-05-29 14:47:44.611490
19  12312312312    123123123   536  Valeriy  2025-05-29 17:20:55.817507
20         1212         1212   536  Valeriy  2025-05-29 17:39:55.769461
21           11           11   536  Valeriy  2025-05-29 17:46:08.957388
22           11           11   536  Valeriy  2025-05-29 17:47:10.986891
23           11           11   536  Valeriy  2025-05-29 17:47:36.451346
24        12121         1212   536  Valeriy  2025-05-29 17:56:09.997940

In [52]:
data.query(f'room == {537}')

    humidity  temperature  room    login                        date
1       1221         1212   537  Valeriy  2025-05-22 16:35:39.819232
4       1212          121   537  Valeriy  2025-05-22 16:51:07.999757
11      1212          121   537  Valeriy  2025-05-23 13:47:44.936370
14       121         1212   537  Valeriy  2025-05-23 14:50:55.573201
17      1212         1212   537  Valeriy  2025-05-29 14:45:27.322080

In [53]:
data.query(f'room == {537}').iloc[-1]

humidity                             1212
temperature                          1212
room                                  537
login                             Valeriy
date           2025-05-29 14:45:27.322080
Name: 17, dtype: object

In [54]:
# data = data.groupby(["room"], as_index=False).aggregate({"date":'max'})
# data = data.groupby(["room","humidity"], as_index=False).aggregate({"humidity"})
data.query(f'room == {537}').iloc[-1].humidity

np.int64(1212)

In [55]:
# for i in data.index:
#     print(data.iloc[i].room, data.iloc[i].date)

In [56]:
context = {'date' : datetime.now().date()}
data = pd.read_csv("data.csv", delimiter=',')
for num in (num for num in range(536,549) if num != 547):
    # context[f'room_{num}'] = num
    if num in tuple(data['room']):
        context[f'humidity_{num}'] = datetime.fromisoformat(data.query(f'room == {num}').iloc[-1].date).strftime('%H:%M:%S')

    # context[f'time_{num}'] = data.query(f'room == {num}').iloc[-1].date
print(context)

{'date': datetime.date(2025, 6, 3), 'humidity_536': '17:56:09', 'humidity_537': '14:45:27', 'humidity_538': '14:47:44'}